<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Portal de notícias com nodeJS</title>
</head>
<body>
  <h2>Admin - Formulário </h2>

  <%- include form.ejs %>
</body>
</html>
